certifi
chardet
click
fastapi
jmespath
packaging
pluggy
py
pyasn1
pydantic
pyparsing
pytest
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
rsa
six
starlette
toml
urllib3
uvicorn
aiofiles
python-dotenv
fastapi-mail
aioredis
httpx