<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my simple api</title>
    <link rel="stylesheet" href="./templates/panel">
</head>

<body>
    <div class="center">
        <h1 for="movies" class=" mainHeader" id="mainHeader">Requests</h1><br>
    </div>
    <div class="center">
        <p class=" text" style="color: yellow;">[GET]</p>
        <p class="text"><a class="link" href="https://api.piuroprauxy.ml/random"
                target="_blank">https://api.piuroprauxy.ml/random</a> - gives you a random "value"</p>
        <div class="reviewContainer center text">min=number (optional) default: 0<br>max=number (optional) default:
            300<br><a href="https://api.piuroprauxy.ml/random/?min=10&max=20"
                target="_blank">https://api.piuroprauxy.ml/random/?min=10&max=20</a></div>
    </div>
</body>

</html>